<main class="col-10 m-auto thankyou d-flex bg-light">
   <div class="d-flex">
      <div class="col-7 d-flex flex-column">
         <div class="">
            <p>Cảm ơn bạn đã đặt hàng tại website của chúng tôi. <br>
               Thông tin đơn hàng của bạn đã được gửi đến email của bạn.</p>
            <p>Email xác nhận đã được gửi đến địa chỉ: example@example.com</p>
            <div class="flex-column justify-content-center align-items-center d-flex text-center box-camon ">
               <img src="/public/assets/Client/image/icon/receipt.png" alt="">
               <h3 class="mt-2">Thanh toán thành công </h3>
            </div>
            <h6>Mã đơn hàng: 12345</h6>
            <h6>Ngày đặt hàng: 2025-01-24</h6>
         </div>

         <div class="d-flex justify-content-between align-items-end">
            <span class="col-8">
               <p class="text-justify">
                  Xin chào, <br>
                  Đây là một thông báo xác nhận đơn hàng của khách hàng Nguyễn Văn A. Đơn hàng đã được đặt thành công và sẽ sớm được giao đến địa chỉ của khách hàng. Khách hàng có thể theo dõi đơn hàng của mình thông qua tài khoản cá nhân hoặc liên kết được gửi qua email.
               </p>
            </span>
            <a class="tieptucmuahang" href="/">Tiếp tục mua hàng</a>
         </div>
      </div>

      <div class="col-5">
         <h3 style="color: var(--color-price);">Thông tin giao hàng </h3>
         <table class="bg-transparent table-custom bg-light">
            <thead>
               <tr>
                  <th scope="row">Tên người nhận:</th>
                  <td>Nguyễn Văn A</td>
               </tr>
               <tr>
                  <th scope="row">Địa chỉ:</th>
                  <td>123 Đường ABC, Quận 1, TP.HCM</td>
               </tr>
               <tr>
                  <th scope="row">Vận chuyển:</th>
                  <td>Giao hàng nhanh</td>
               </tr>
               <tr>
                  <th scope="row">Thanh toán:</th>
                  <td>Thanh toán khi nhận hàng</td>
               </tr>
            </thead>
            <tbody class="text-left border-top mb-3">
               <tr>
                  <td><img width="50px" src="/public/uploads/products/product_image.jpg" alt=""></td>
                  <td>Product Name<br>
                     <div>Variant Name</div>
                  </td>
                  <td>x1</td>
                  <td class="price">500,000đ</td>
               </tr>
               <!-- Thêm các sản phẩm khác ở đây -->
            </tbody>
            <tfoot>
               <tr style="border-top: 2px solid var(--color-price);">
                  <th scope="row" style="font-size: larger; color: var(--color-price);">Tổng đơn:</th>
                  <td class="fw-bold" style="font-size: larger;">
                     500,000 đ
                  </td>
               </tr>
            </tfoot>
         </table>
      </div>
   </div>
</main>
